@import "tailwindcss";

/* todo: tailwinds updates: use @theme over :root*/
/* https://tailwindcss.com/docs/theme */

/* Editor problem. */
@theme {
  --primary-background: #018281;
  --primary-window-background: #c0c0c0;
  --primary-header-background: #000181;
  --secondary-header-background: #c0c0c0;
}

#app {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: var(--primary-background);
  /*temp: fixed height */
  height: 100vh;
}
