@import 'tailwindcss';

/* todo: tailwinds updates: use @theme over :root*/
/* https://tailwindcss.com/docs/theme */

/* Editor problem. */
/*todo: custom theme variable for pixel values*/

@theme {
  --color-primary-background: #018281;
  --color-primary-window-background: #c0c0c0;
  --color-primary-header-background: #000181;
  --color-secondary-header-background: #c0c0c0;

  --color-primary-button-border: #858585;
  --color-secondary-button-border: white;

  --window-header-height: 30px;
}

#app {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: var(--primary-background);
  /*temp: fixed height */
  height: 100vh;
}

.animate {
  animation: move 3s ease;
}

@keyframes move {
  50% {
    transform: translate(10px, 100px);
  }
}
